<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tonyetienne.SGLinkTransform</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>03C1ABC1-32F3-4E55-8EAB-19985A597EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4C667C-EC92-483D-A3A7-9047F59FFED3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>05113C50-A696-4B1B-806E-40EFFF0BBD00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>973D81D0-03AD-4926-9C93-3B7F7C9B531D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31CE891D-558A-42E7-869E-54B37F308E90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>421FCE30-82D2-4E32-A4CD-7CF791D30BE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B1624939-DD7C-4474-8D7C-1683C2E6BA5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>05113C50-A696-4B1B-806E-40EFFF0BBD00</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Converts a page link in the foremost browser tab into an entity link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>472C6B20-C89F-48D2-82D0-E45F8F71E93A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03C1ABC1-32F3-4E55-8EAB-19985A597EF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>973D81D0-03AD-4926-9C93-3B7F7C9B531D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>472C6B20-C89F-48D2-82D0-E45F8F71E93A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1624939-DD7C-4474-8D7C-1683C2E6BA5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>472C6B20-C89F-48D2-82D0-E45F8F71E93A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD4C667C-EC92-483D-A3A7-9047F59FFED3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1E006EA-05F1-4F0C-A14E-38959342C0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1E006EA-05F1-4F0C-A14E-38959342C0A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0817C8AC-5EB9-4C26-A80B-5FA04C2E59E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2709C29-D58A-4A8F-9417-869A0B64E59D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tony Etienne &amp; Michael Kessler</string>
	<key>description</key>
	<string>Transform Shotgun Links</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SGLinkTransform</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>8</integer>
				<key>script</key>
				<string>python update_check.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>update_check.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>421FCE30-82D2-4E32-A4CD-7CF791D30BE4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sg transform</string>
				<key>subtext</key>
				<string>Converts a page link from the clipboard into an entity link</string>
				<key>text</key>
				<string>SG Transform Link</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31CE891D-558A-42E7-869E-54B37F308E90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>variables</key>
				<dict>
					<key>notify_title</key>
					<string>SG Link Transform</string>
					<key>og_clip</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B1624939-DD7C-4474-8D7C-1683C2E6BA5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:notify_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0817C8AC-5EB9-4C26-A80B-5FA04C2E59E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(^http[s]?:\/\/[^\/]+)\/(\w+)(\/\w+)?\/[\d]+(\?\w+\=(\w+))?\#([a-zA-Z0-9]+)_(\d+)(.*)$</string>
				<key>replacestring</key>
				<string>$1/detail/$6/$7</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CD4C667C-EC92-483D-A3A7-9047F59FFED3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(http)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F1E006EA-05F1-4F0C-A14E-38959342C0A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(http)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>03C1ABC1-32F3-4E55-8EAB-19985A597EF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>472C6B20-C89F-48D2-82D0-E45F8F71E93A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B2709C29-D58A-4A8F-9417-869A0B64E59D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv	tell application "System Events" to set frontApp to name of first process whose frontmost is true	if (frontApp = "Safari") or (frontApp = "Webkit") then		using terms from application "Safari"			tell application frontApp to set currentTabUrl to URL of front document		end using terms from	else if (frontApp = "Google Chrome") or (frontApp = "Google Chrome Canary") or (frontApp = "Chromium") then		using terms from application "Google Chrome"			tell application frontApp to set currentTabUrl to URL of active tab of front window		end using terms from	else if (frontApp = "Firefox") then		tell application "System Events"			keystroke "l" using command down			keystroke "c" using command down		end tell		delay 0.5		set currentTabUrl to the clipboard	else		set currentTabUrl to "" as text	end if	return currentTabUrlend run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05113C50-A696-4B1B-806E-40EFFF0BBD00</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>notify_title</key>
					<string>SG Link Transform from Browser Tab</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>973D81D0-03AD-4926-9C93-3B7F7C9B531D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03C1ABC1-32F3-4E55-8EAB-19985A597EF5</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>05113C50-A696-4B1B-806E-40EFFF0BBD00</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>0817C8AC-5EB9-4C26-A80B-5FA04C2E59E6</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>31CE891D-558A-42E7-869E-54B37F308E90</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>421FCE30-82D2-4E32-A4CD-7CF791D30BE4</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>472C6B20-C89F-48D2-82D0-E45F8F71E93A</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>973D81D0-03AD-4926-9C93-3B7F7C9B531D</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>B1624939-DD7C-4474-8D7C-1683C2E6BA5D</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>B2709C29-D58A-4A8F-9417-869A0B64E59D</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>CD4C667C-EC92-483D-A3A7-9047F59FFED3</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>F1E006EA-05F1-4F0C-A14E-38959342C0A1</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/plongitudes/SGLinkTransform</string>
</dict>
</plist>
